@page "/"

<PageTitle>Home</PageTitle>

<h1>単語帳</h1>

<button class="btn btn-primary" @onclick="@(() => NavigateTo("/AddWord"))">単語追加</button>
<button class="btn btn-primary" @onclick="@(() => NavigateTo("/Review"))">復習</button>
<button class="btn btn-primary" @onclick="@(() => NavigateTo("/WordList"))">単語一覧</button>

@code {
    [Inject] NavigationManager Nav {get; set;} = null!;

    void NavigateTo(string url)
    {
        Nav.NavigateTo(url);
    }
}
